h3 {
  color:blueviolet
}

p {

  color:darkgreen
}

ul{
  color:brown
 
}

.lista-ordenada{
  color:chartreuse
}
body {
  background-color:white;
}

h2 {
  font-size: 35px;

}

ol,
ul,
p {
  font-size: 30px;
}