h3 {
  color:blueviolet
}

p {

  color:darkgreen
}

ul{
  color:brown
 
}

.lista-ordenada{
  color:chartreuse
}
body {
  background-color:white;
}

h2 {
  font-size: 35px;
  font-family: "Times new Roman";
  font-family: 'Anton', sans-serif;


}

ol,
ul,
p {
  font-size: 24px;
  color:green;
}

.principal {
    width: 500px;
}

.python{
  width: 260px;
  border-width: 3px;
  border-color: darkblue;
  border-style: solid;
}

.bordes-redondeados{
  width: 300px;
  border-width: 3px;
  
  border-radius: 80px;
}

div{
  background-color: #3D3635;
}