h3 {
  color:blueviolet
}

p {

  color:darkgreen
}

ul{
  color:brown
 
}

.lista-ordenada{
  color:chartreuse
}
body {
  background-color:white;
}

h2 {
  font-size: 35px;
  font-family: "Times new Roman";


}

ol,
ul,
p {
  font-size: 24px;
  color:green;
}